html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav_container{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.logo_marvel{
    width: 50px;
    height: 50px;
}
 .user_list{
     color: white;
 }
 .user_menu{
     color: white;
     border-right: 1px solid #393939;  
     border-left: 1px solid #393939;
 }
 .user_menu_text{
    margin-top: 20px;
    align-items: center;
 }
.nav_options{
    color: white;
    display: flex;
    justify-content: space-around;

}

.logo_lupa_img{
    color: white;
}
.logo_lupa{
    border-right: 1px solid #393939;  
}
.logo_card{
    display: inline-flex;
    border-color: white;
    border-right: 1px solid #393939;  
    border-left: 1px solid #393939;
    align-items: center;
}